@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
    @apply bg-[#202023] text-textLight-500;
}

.light {
    @apply bg-[#F0E7DB] text-dark-500;
}

@layer base {
    html{
        font-family: Exo, system-ui, sans-serif;
        overflow-x: hidden;
    }
}